.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card-title {
    color: #333; 
}
.section.news {
    background-color: #E60012; 
}

.custom-header {
    background-color: #E60012; /* Red background */
}
